*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  animation-delay: 0.2s;
}
img{
  border-style: solid;
  height:50vw;
  display:block;
  margin:auto;
}
img:hover{
  animation-name: gecgecgec;
  animation-duration: 2s;
  animation-fill-mode: both;
}
body{
  background-color:grey;
}
@keyframes gecgecgec{
  from{width:50vw; height:50vw; border:solid;}
  to{width:60vw; height:60vw; border:none; box-shadow: 0.4vw 0.4vw 0.4vw 0.4vw black;}
}
